<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="schedule">
            <h2><span jhiTranslate="waveAcsessConferenceApp.schedule.detail.title">Schedule</span> {{schedule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="waveAcsessConferenceApp.schedule.startTime">Start Time</span></dt>
                <dd>
                    <span>{{schedule.startTime | date: 'HH:mm dd.MM.yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="waveAcsessConferenceApp.schedule.endTime">End Time</span></dt>
                <dd>
                    <span>{{schedule.endTime | date: 'HH:mm dd.MM.yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="waveAcsessConferenceApp.schedule.presentation">Presentation</span></dt>
                <dd>
                    <div *ngIf="schedule.presentation">
                        <a [routerLink]="['/presentation', schedule.presentation?.id, 'view']">{{schedule.presentation?.topic}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="waveAcsessConferenceApp.schedule.room">Room</span></dt>
                <dd>
                    <div *ngIf="schedule.room">
                        <a [routerLink]="['/room', schedule.room?.id, 'view']">{{schedule.room?.roomName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/schedule', schedule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
